<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GitHubProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8FFC1BDC1E9703CB00794095</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FFC1BF51E9703CB00794095</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FFC1C001E9703CB00794095</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
